
<table class="table">
    <thead>
    <tr>
        {{ form_start(form) }}
        <td>{{ form_errors(form) }}</td>
        <td>{{ form_row(form.form) }}</td>
        <td>{{ form_end(form) }}</td>
    </tr>
    </thead>

