{% extends 'base.html.twig' %}

{% block body %}
    <h1 align="center">Nous contacter</h1>
    <p>Vous avez une question sur la qualité d'un article ?</p>
    <p>Voici nos coordonnées :</p>
    <li>Mail : contact@parlonsdrogue.fr</li>
    <li>Téléphone : 0687454121</li>

    <hr />
{% endblock %}



