{% extends 'base.html.twig' %}

{% block body %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<form id='register' action='register_db' method='post'
      accept-charset='UTF-8'>
    <fieldset >
        <legend>Register</legend>
        <input type='hidden' name='submitted' id='submitted' value='1'/>
        <label for='name' >Nom : </label>
        <input type='text' name='lastname' id='lastname' maxlength="50" />
        <label for='username' >Prenom :</label>
        <input type='text' name='firstname' id='firstname' maxlength="50" />
        <label for='email' >Email :</label>
        <input type='text' name='email' id='email' maxlength="50" />


        <label for='password' >Mot de passe :</label>
        <input type='password' name='password' id='password' maxlength="50" />
        <input type='submit' name='Submit' value='Submit' />

    </fieldset>
</form>

</body>
</html>

{% endblock %}